


        <div class="container">
            <hr>
            <div class="row" style="margin-bottom: 10px" class="clearfix">
              <footer id="admin-footer" >
                <div class="pull-left addMargin"><b>Copyright</b>&copy; 2016</div>
                <div class="pull-right addMargin">Like_The_Design</div>
              </footer>
            </div>
        </div>
    
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  <!-- Include all compiled plugins (below), or include individual files as needed -->
	  <!-- Latest compiled and minified JavaScript -->
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	  
	  <script src="/js/wow.min.js"></script>
	  
    <script>
      new WOW().init();
    </script>
    
    <script src="/dist/summernote.min.js"></script>
    
    <script type="text/javascript">
       $('.summernote').summernote({
         height: 200
       })
    </script>
  
	</body>
</html>