<% include partials/header %>

<header id="featured" class="jumbotron mainJumbo">
    <div class="container">
            <h1 class="myFont">Taco As A Service</h1>
            <h2 class="myFontPara">Are You Getting Hungry?</h2>
            <a class="btn btn-lg btn-warning alert-space" href="/register">Sign Up</a>
            <a class="btn btn-lg btn-success alert-space" href="/recipes" style="display:inline-block;">Recipes</a>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 spaceAdd">
            <h2 class="myHeader">About TAAS</h2>
            <p class="myBody">
                Taco as a Service, aka TAAS, is a personal site dedicated to the humble taco. So simple, yet so delicious. Especially if made with fresh corn tortillas (see below). No this is not meant to be the next startup, but it was a great learning experince as I work on my Node.js skill set. Site was also built with Express, MongoDB, and includes extra javascript packages such as wow.js, summernote.js, and more.
            </p>
        </div>
    </div>
</div>

<div class="jumbotron colorMe">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 spaceAdd">
            <h2 class="myHeader">History of Tacos</h2>
            <p class="myBody">
                The taco predates the arrival of Europeans in Mexico. There is anthropological evidence that the indigenous people living in the lake region of the Valley of Mexico traditionally ate tacos filled with small fish. Writing at the time of the Spanish conquistadors, Bernal Díaz del Castillo documented the first taco feast enjoyed by Europeans, a meal which Hernán Cortés arranged for his captains in Coyoacán. If one accepts the theory that the culinary word "taco" derives from its non-culinary usage in Continental Spanish as opposed to indigenous etymological theories, it is not clear why the Spanish would have used a word in their own language to describe this indigenous food.**
            </p>
        </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="myHeader">The Three Sisters</h2>
            <p class="myBody">
                The Three Sisters are the three main agricultural crops of various Native American groups in North America: winter squash, maize (corn), and climbing beans (typically tepary beans or common beans). The Iroquois, among others, used these "Three Sisters" as trade goods.**
            </p>
            <p class="myBody">
                The three crops benefit from each other. The maize provides a structure for the beans to climb, eliminating the need for poles. The beans provide the nitrogen to the soil that the other plants use, and the squash spreads along the ground, blocking the sunlight, helping prevent establishment of weeds. The squash leaves also act as a "living mulch", creating a microclimate to retain moisture in the soil, and the prickly hairs of the vine deter pests. Corn, beans, and squash contain complex carbohydrates, essential fatty acids and all 8 essential amino acids, allowing most Native American tribes to thrive on a plant-based diet.**
            </p>
            <br>
            <br>
        </div>

        <div class="col-md-4 col-sm-12 flexMe">
            <img src="../images/beanIcon.png" class="img-responsive wow bounceInLeft" alt="2D skills including Adobe Creative Suite">
            <h2 class="myHeader">Beans</h2>
            <p class="foodBody">
              Phaseolus acutifolius, the Tepary bean, is native to the southwestern United States and Mexico and has been grown there by the native peoples since pre-Columbian times. It is more drought-resistant than the common bean (Phaseolus vulgaris) and is grown in desert and semi-desert conditions from Arizona through Mexico to Costa Rica. The water requirements are low and the crop will grow in areas where annual rainfall is less than 400 mm (16 in).**
            </p>
        </div>
        <div class="col-md-4 col-sm-12 flexMe">
            <img src="../images/cornIcon.png" class="img-responsive wow bounceInUp" alt="2D skills including Adobe Creative Suite">
            <h2 class="myHeader">Corn</h2>
            <p class="foodBody">
              Maize, also known as corn, is a large grain plant first domesticated by indigenous peoples in Mexico about 10,000 years ago. The six major types of corn are dent corn, flint corn, pod corn, popcorn, flour corn, and sweet corn.

The leafy stalk of the plant produces separate pollen and ovuliferous inflorescences or ears, which are fruits, yielding kernels (often erroneously called seeds). Maize kernels are often used in cooking as a starch.**
            </p>
        </div>
        <div class="col-md-4 col-sm-12 flexMe">
            <img src="../images/squashIcon.png" class="img-responsive wow bounceInRight" alt="2D skills including Adobe Creative Suite">
            <h2 class="myHeader">Squash</h2>
            <p class="foodBody">
              Winter squash is a summer-growing annual fruit, representing several squash species within the genus Cucurbita. It differs from summer squash in that it is harvested and eaten in the mature fruit stage, when the seeds within have matured fully and the skin has hardened into a tough rind. At this stage, most varieties of this fruit can be stored for use during the winter. It is generally cooked before eating.**
            </p>
        </div>
    </div>
</div>

<div class="jumbotron tortillaImg">
    <div class="container">

    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="myHeader">Tortillas - Make Them Fresh</h2>
            <p class="foodBody">
              The traditional tortilla has been made of maize corn since pre-Columbian times. It is made by curing maize in limewater in the nixtamalization process, which causes the skin of the corn kernels to peel off (the waste material is typically fed to poultry), then grinding and cooking it, kneading it into a dough called masa nixtamalera, pressing it flat into thin patties, and cooking it on a very hot comal (originally a flat terra cotta griddle, now usually made of light sheet-metal instead).**
            </p>
            <p class="foodBody">
              <strong>Making them fresh</strong> only requires masa harina, some water, a dash of salt and a tortilla press, though a rolling pin or other method would work as well. Once you have tasted fresh homemade ones, you'll never want to go back to the store bought ones again.
            </p>
        </div>
        <div class="col-md-6">
            <img src="../images/tortillaPress.png" class="img-responsive wow bounceInRight" alt="2D skills including Adobe Creative Suite">
        </div>
    </div>
</div>

<div style="text-align:center; color: #ff99cc;">
    <small>** text is from wikipedia.org</small>
</div>

<% include partials/footer %>